/*Íconos*/

@font-face 
{
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?pftoml');
    src:  url('../fonts/icomoon.eot?pftoml#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?pftoml') format('truetype'),
        url('../fonts/icomoon.woff?pftoml') format('woff'),
        url('../fonts/icomoon.svg?pftoml#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] 
{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before 
{
    content: "\e900";
}
.icon-redo2:before 
{
    content: "\e968";
}
.icon-cloud-download:before 
{
    content: "\e9c2";
}
.icon-circle-up:before 
{
    content: "\ea41";
}
.icon-circle-down:before 
{
    content: "\ea43";
}

/*fuentes traídas de internet
font-family: 'Nunito', sans-serif;
font-family: 'Varela Round', sans-serif;
*/

body
{
    margin: 0;
}

a
{
    color: #485464;
    text-decoration: none;
}

.PlatziVideo-wrapper
{
    background-color: #0e0e0e;
    color: #485464;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    grid-template-columns: minmax(320px, 1024px);
    justify-content: center;
    margin:0;
}

.grid-container
{
    display:grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-template-areas: "left video video"
                         "left panel panel"
                         "left comments suggestions";
}

.mobile-bar
{
    background-color: #151A30;
    color: white;
    display: none;
    padding: 5px;
    position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    z-index: 3;
}

.bar-title
{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    height: 7vh;
}
.left
{
    background-color: #151A30;
    color: white;
    padding: 20px 20px;
    grid-area: left;
}

.close
{
    display:none;
    padding: 20px 15px 0 0 ;
    position: fixed;
        top: 100vh;
        right: 0;
}

.title-container
{
    align-items: center;
    display: flex;
}

.title
{
    font-family: 'Nunito', sans-serif;
    font-size: 1.7em;
    margin: 0;
}

.arrow
{
    display: none;
}


.title span
{
    background: -webkit-linear-gradient(90deg, #ef3f27 10%, #ef5697 90%);
    /* background: -moz-linear-gradient(90deg, yellow 10%, orange 90%);
    background: -ms-linear-gradient(90deg, yellow 10%, orange 90%);
    background: -o-linear-gradient(90deg, yellow 10%, orange 90%); */
    background: linear-gradient(90deg, #ef3f27 10%, #ef5697 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left-subtitle
{
    display: inline-block;
    font-size: 0.8em;
    margin-top: 1.5em;
}

.left a
{
    color: white;
    text-decoration: none;
}

ol
{
    margin: 0;
    padding: 0;
}

.left li
{
    font-size: 0.65em;
    list-style: none;
    margin: 20px 0;
    /* display: block; */
}

.my-playlist
{
    position: relative;
}

.friends-playlist li
{
    align-items: center;
    display: flex;
    font-size: 0.75em;
}

.left-link
{
    align-items: center;
    display: flex;
    padding-left: 20px;
}

.avatar
{
    border-radius: 50%;
    display: block;
    height: 30px;
    /* margin-right: 20px; */
    /* overflow: hidden; */
    width: 30px;
}

.avatar img
{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.flexi-video
{
    background: blue;
    grid-area: video;
    height: 0;
    padding-top: 56.25%;
    position: relative;
}

.video
{
    height: 100%;
    position: absolute;
        top: 0;
        left: 0;
    width: 100%;
}

.video-panel
{
    background: white;
    border-bottom: 1.5px solid rgba(0,0,0,0.35);
    grid-area: panel;
    padding: 20px 10px 0 10px;
}

.video-title
{
    font-size: 0.9em;
    font-weight: normal;
    margin: 0;
}

.video-panel p
{
    color: #a2a2a2;
    font-size: 0.8em;
    margin: 0;
    margin-bottom: 15;
}

.buttons
{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-buttons
{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 40px;
    width: 45%;
}

.add-to-list
{
    color: white;
    background: -webkit-linear-gradient(90deg, #ef3f27 10%, #ef5697 90%);
    /* background: -moz-linear-gradient(90deg, yellow 10%, orange 90%);
    background: -ms-linear-gradient(90deg, yellow 10%, orange 90%);
    background: -o-linear-gradient(90deg, yellow 10%, orange 90%); */
    background: linear-gradient(90deg, #ef3f27 10%, #ef5697 90%);
    border-radius: 10px;
    font-size: 0.68em;
    /* margin-right: 20px; */
    padding: 8px 10px;
    text-align: center;
    width: 106px;
}

.share, .save
{
    display: block;
    font-size: 0.7em;
    /* margin: 0 20px; */
    text-align: center;
}

.share span, .save span
{
    display: block;

}

.tags
{
    margin-bottom: 20px;
    margin-top: 20px;
}

.tags a
{
    border-radius: 20px;
    color: white;
    display: inline-block;
    font-size: 0.58em;
    padding: 3px 0;
    text-align: center;
    width: 70px;
}

.purple-btn
{
    background-color: #9768e9;
}

.aqua-btn
{
    background-color: #67ebc0;
}

.red-btn
{
    background-color: #e13b24;
}

.pink-btn
{
    background-color: #ee5084;
}

.comments-box
{
    background-color: white;
    padding: 20px;
    grid-area: comments;
    position: relative;
}

.comments-title
{
    font-size: 0.7em;
    margin: 0;
    margin-bottom: 20px;
}

.form input
{
    background-color: #f2f2f1;
    background-image: url("https://miclaseinformaticacem.files.wordpress.com/2016/11/hugo-lorenzo-5c2ba-c.png");
    background-position-x: 3px;
    background-position-y: 5px;
    background-repeat: no-repeat;
    background-size: 23px;
    border: none;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #e7e7e7;
    border-radius: 5px;
    font-size: 0.8em;
    padding: 8px 10px 5px 35px;
    width: 100%;
}

.comment
{
    align-items: center;
    display: flex;
    margin: 15px 0;
}

.comment div
{
    padding-left: 20px;
}

.comments-text
{
    font-size: 0.78em;
    margin: 0;
}

.comment a
{
    font-size: 0.78em;
}

.suggestions-box
{
    background-color: white;
    grid-area: suggestions;
    padding: 20px;
}

.suggestions-title
{
    font-size: 0.7em;
    margin: 0;
    margin-bottom: 20px;
    padding-left: 15px;
}

.suggestion figure
{
    height: 135px;
    width: 200px;
    margin: 0;
}

.suggestion img
{
    height: 100%;
    object-fit: cover;
    margin: 0;
    width: 100%;
    -webkit-box-shadow: -6px 8px 20px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 8px 20px -10px rgba(0,0,0,0.75);
    box-shadow: -6px 8px 20px -10px rgba(0,0,0,0.75);
}

.suggestion-description
{
    font-size: 0.6em;
    margin: 20px 0;
}

@media screen and (max-width: 1024px)
{
    
}

@media screen and (max-width: 882px)
{
    .grid-container
    {
        display:grid;
        grid-template-columns: 250px 1fr 1fr;
        grid-template-areas: "left video video"
                            "left panel panel"
                            "left comments comments"
                            "left suggestions suggestions";
    }
    
    .buttons
    {
        justify-content: center;
    }

    .left-buttons
    {
        justify-content: space-between;
        margin-right: 0px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .save, .share
    {
        width: 106px;
    }
    
    .tags
    {
        display: flex;
        justify-content: space-between;
        width: auto;
    }

    .purple-btn,
    .aqua-btn,
    .red-btn,
    .pink-btn
    {
        margin-right: 20px;
        flex-shrink: 0;
    }

}

@media screen and (max-width: 768px)
{
    .grid-container
    {
        display:grid;
        grid-template-columns: 250px 1fr 1fr;
        grid-template-areas: "video video video"
                            "panel panel panel"
                            "left comments comments"
                            "left suggestions suggestions"
                            ;
    }
    
   
}

@media screen and (max-width: 600px)
{

    .grid-container
    {
        display:grid;
        grid-template-columns: 250px 1fr 1fr;
        grid-template-areas: "video video video"
                            "panel panel panel"
                            "comments comments comments"
                            "suggestions suggestions suggestions"
                            ;
    }

    .left
    {
        box-sizing: border-box;
        height: 100vh;
        overflow: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        position: fixed;
            /* top: -10px; */
            right: 0;
            bottom: -100vh;
            left: 0;
        transition: 0.3s;
        width: 100vw;
        z-index: 3;
    }

    .left.isactive
    {
        bottom: 0;
    }

    .mobile-bar
    {
        box-sizing: border-box;
        display: initial;
        height: auto;
    }

    .mobile-bar.isactive
    {
        bottom: 100vh;
        transition: 0.3s;
    }

    .title-container
    {
        display:none;
    }

    .arrow, .close
    {
        display: block;
        font-size: 1.3em;

    }
    
    .close.isactive
    {
        top: 0;
        transition: 0.3s;
    }

    .suggestions-box
    {
        padding-bottom: 8vh;
    }
}

@media screen and (max-width: 480px)
{
    .PlatziVideo-wrapper
    {
        font-size: 18px;
    }
    
    .tags
    {
        flex-wrap: wrap;
    }

@media screen and (max-width: 397px)
{
    .left-buttons
    {
        justify-content: center;
    }

    .share, .save
    {
        justify-content: initial;
        margin-left: 15px;
        width: auto;
    }

    .purple-btn,
    .aqua-btn,
    .red-btn,
    .pink-btn
    {
        margin-top: 10px;
    }
}
}

@media screen and (max-width: 320px)
{
    
}
